@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "嗷嗷…我们遇到了一个不可预知的错误(ノへ￣、)";
}
<article id="main">
    <header>
        <h1 class="text-danger">错误(ノへ￣、)</h1>
        <h2 class="text-danger">我们遇到了一个不可预知的错误</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <section>
                <h1 class="text-danger">错误(ノへ￣、)</h1>
                <h2 class="text-danger">我们遇到了一个不可预知的错误</h2>
            </section>
        </div>
    </section>
</article>

