@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "已锁定";
}

<article id="main">
    <header>
        <h1 class="text-danger">已锁定(ノへ￣、)</h1>
        <h2 class="text-danger">此帐户已锁定，请稍后重试</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <section>
                <hgroup>
                    <h1 class="text-danger">已锁定。</h1>
                    <h2 class="text-danger">此帐户已锁定，请稍后重试。</h2>
                </hgroup>
            </section>
        </div>
    </section>
</article>
